#globalContainer{
  text-align: center;
}
#logo{
  width: 300px;
  margin-top: 20px;
}
.filter{
  margin-bottom: 80px;
}
.minFilter{
  float: left;
  padding-left: 10px;
}
.maxFilter{
  float: right;
  padding-right: 10px;
}
.starRating{
  margin: 0px!important;
  padding: 0px!important;
}
