<div id="globalContainer" class="row">
    <!--<img src="assets/images/logo.svg" alt="logo" id="logo" class="col-md-offset-2 col-md-8 col-sm-offset-4 col-sm-4 col-xs-offset-3 col-xs-6">-->
    <object class="svgClass" id="logo" type="image/svg+xml" data="assets/images/logo.svg"></object>
</div>

<div class="filter">
  <div class="minFilter">
    <star-rating class="starRating" [starType]="'svg'" [rating]="_restaurantsService.rateMin" [step]="0.5" [showHalfStars]="true" (starClickChange)="_restaurantsService.minChange($event)"></star-rating>
    <br/>
    <div class="filterText">Note minimum</div>
  </div>
  <div class="maxFilter">
    <star-rating class="starRating" [starType]="'svg'" [rating]="_restaurantsService.rateMax" [step]="0.5" [showHalfStars]="true" (starClickChange)="_restaurantsService.maxChange($event)"></star-rating>
    <br/>
    <div class="filterText">Note maximum</div>
  </div>
</div>

<div class="row">
  <app-restaurants-list></app-restaurants-list>
</div>
