.id{
  //float: left;
  color: #c42a29;
  font-size: 1.3em;
  font-weight: 600;
}
.name {
  //float: left;
  color: #c42a29;
  font-size: 1.3em;
  font-weight: 600;
}
.address{
  color: #000000;
  //float: left;
}

.streetViewImg{
  float: right;
  padding-left: 10px;
}
textarea{
  background-color: #ffffff;
  height: 100px;
  resize:none;
}
.form{
  width: 100%;
  text-align: center;
}
.btn{
  color: #ffffff;
  background-color: #c42a29;
  font-weight: 600;
}
.selectedStar{
  cursor: pointer;
}
