<ul materialize="collapsible" class="collapsible row" data-collapsible="accordion">

    <li *ngFor='let restaurant of restaurants; index as i'>

      <div class="collapsible-header" *ngIf="_restaurantsService.isVisible(i) && _restaurantsService.filteredRestaurant(i)">
        <div class="col-xs-12">
          <img class="streetViewImg" src="{{ getRestaurantImage(i) }}" alt=""/>
          <star-rating [starType]="'svg'" [rating]="getAverage(i)" [readOnly]="true" [step]="0.5" [showHalfStars]="true"></star-rating>
          <div class="id">{{ i+1 }}</div>
          <div class="name">{{ restaurant.restaurantName }}</div>
          <div class="address">{{ restaurant.address }}</div>
        </div>
      </div>

      <div class="collapsible-body">
        <div *ngFor='let rate of restaurants[i].ratings'>
          <star-rating [starType]="'svg'" [rating]="rate.stars" [readOnly]="true" [step]="0.5" [showHalfStars]="true"></star-rating>
          <br/><br/>
          {{ rate.comment }}
          <br/><br/>
        </div>
        <hr>

      <star-rating class="selectedStar" [starType]="'svg'" [rating]="stars" [step]="0.5" [showHalfStars]="true" (starClickChange)="starClickChange($event)"></star-rating>
      <form class="form">
        <textarea class="textArea newComment" name="comments" placeholder="Votre commentaire ici" [(ngModel)]="comment"></textarea>
        <input type="button" class="btn" name="send" value="Envoyer" (click)="addRating(i)">
      </form>
      </div>

    </li>

</ul>
