<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">Ajoutez un restaurant</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <label for="newRestaurantName">Nom du restaurant :</label>
    <input name="newRestaurantName" id="newRestaurantName" type="text" [(ngModel)]="newRestaurantName"/>
    <div>{{ newAddress }}</div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click'); confirmRestaurant();">Ajouter</button>
  </div>

</ng-template>

<div id="info">Pour ajouter un restaurant double-cliquez sur la carte.</div>

<agm-map
(mapDblClick)="addRestaurant($event, content)"
(boundsChange)="boundsChange($event)"
(idle)="idleMap()"
(zoomChange)="zoomChange($event)"
(centerChange)="centerChange($event)"
(mapReady)="mapReady($event)"
 #agmMap id="agmMap"
[disableDoubleClickZoom]="true"
[latitude]="lat"
[longitude]="lng"
[fullscreenControl]="true"
[zoom]="zoom">

<agm-marker
  [latitude]="lat"
  [longitude]="lng"
  [iconUrl]="iconUrl"
  *ngIf="locationFound">
</agm-marker>

<div *ngFor="let m of restaurants; let i = index">
  <agm-marker *ngIf="_restaurantsService.isVisible(i) && _restaurantsService.filteredRestaurant(i)"
    [attr.data-index]="i"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="i+1+''"
    [title]="m.restaurantName">
  </agm-marker>
  </div>

</agm-map>
