agm-map{
  height: 100vh;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  agm-map{
    height: 40vh;
  }
}
#info{
  background-color: white;
  position: absolute;
  bottom: 24px;
  right: 50px;
  z-index: 10;
  padding: 5px;
}
