/* You can add global styles to this file, and also import other style files */


$color-negative-rating: #c42a29 !default;
$color-ok-rating: #c42a29 !default;
$color-positive-rating: #c42a29 !default;
$color-default-rating: #c42a29 !default;


@import '~css-star-rating/scss/star-rating';

.rating{
  //flex: none;
  //justify-content: flex-start!important;
  float: left!important;
  //position: absolute;
  outline: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none!important;
  outline-style: none!important;
}
.btn-link{
  width: 100%!important;
  padding: 10px!important;
  background-color: #ffffff!important;
}

.modal-backdrop.fade{
  opacity: 0.5;
}
.modal-open .modal{
  opacity: 1;
}
.modal{
  padding-top: 50px;
  height: 320px;
  overflow-y: hidden!important;
}
